* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

html,
body {
  background-color: rgba(34, 138, 202, 0.45);
}

.App{
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  padding-top: 15px;
  font-family: Lato, sans-serif;
}
.title{
  color: whitesmoke;
}
.footer{
  display: flex;
  align-items: center;
  justify-content: center;
}

.freecodecamp-logo-contenedor{
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 20px;
  flex-direction:column;
}

.freecodecamp-logo{
  height:150px;
}
.contenedor-principal{
  height: 350px;
  min-width: 600px;
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}